@import "tailwindcss";

:root {
  --background: #282c35;
    --foreground: #ededed;
    --primary: #ff7f50;
  --codebg:#232936;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-codebg: var(--codebg)

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282c35;
    --foreground: #ededed;
    --primary: #ff7f50;
  --codebg:#232936;

  }
}
pre::-webkit-scrollbar {
  display: none;
}
pre {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--codebg);
  color: #fff;
    overflow-x: scroll;
    width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.text-gradient {
  @apply bg-gradient-to-r from-primary to-amber-500;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  color: var(--foreground);
}



