@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff7f50;
  --codebg: #232936;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-codebg: var(--codebg)

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282c35;
    --foreground: #ededed;
    --primary: #ff7f50;
  --codebg:#232936;

  }
}
pre::-webkit-scrollbar {
  display: none;
}
pre {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--codebg);
  color: #fff;
    overflow-x: scroll;
    width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body {
    font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-step-1 {
  animation: fadeInSlide 0.5s ease forwards;
  animation-delay: 0.3s;
}
.animate-step-2 {
  animation: fadeInSlide 0.5s ease forwards;
  animation-delay: 0.8s;
}
.animate-step-3 {
  animation: fadeInSlide 0.5s ease forwards;
  animation-delay: 1.3s;
}
.animate-step-4 {
  animation: fadeInSlide 0.5s ease forwards;
  animation-delay: 1.8s;
}
.animate-step-5 {
  animation: fadeInSlide 0.5s ease forwards;
  animation-delay: 2.3s;
}
.animate-step-6 {
  animation: fadeInSlide 0.5s ease forwards;
  animation-delay: 2.8s;
}